* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0E1223;
}

#card {
    background-image: linear-gradient(135deg, #037ADE, #03E5B7);
    width: 400px;
    border-radius: 30px;
    flex-wrap: nowrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#searchDiv {
    margin-top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#search {
    height: 40px;
    width: 200px;
    border: none;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in 0.5s;
}

#search::placeholder {
    color: black;
}

#search:hover {
    height: 42.5px;
    width: 202.5px;
    border-radius: 22.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#searchButton {
    background-image: url(images/search.png);
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all ease-in 0.5s;
}

#searchButton:hover {
    height: 42.5px;
    width: 42.5px;
    border-radius: 22.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

#dataDiv {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#weatherIcon {
    height: 200px;
    width: 200px;
}

#weatherInfo {
    font-size: 50px;
}

#cityName {
    font-size: 40px;
    font-weight: light;
}

#otherInfo {
    margin-top: 100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div {
    display: flex;
}

.icon {
    height: 30px;
    width: 30px;
}

.values {
    margin-top: -4px;
    height: 30px;
    margin-left: 10px;
}

.info {
    font-size: 20px;
}

p {
    font-size: 12px;
}